@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "inter";
}

/* style.css */
.swiper-button-next,
.swiper-button-prev {
    align-items: center !important;
    background: #ffffffb3 !important;
    border: 1px solid #36374040 !important;
    border-radius: 4px !important;
    border-radius: 20px !important;
    cursor: pointer !important;
    display: flex !important;
    height: 40px !important;
    justify-content: center !important;
    opacity: .5 !important;
    position: absolute !important;
    text-decoration: none !important;
    transition: all .3s ease-in-out !important;
    width: 40px !important;
    z-index: 1 !important;
    font-size: 10px !important;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 14px !important;
    color: black !important;
}

.swiper-pagination-bullet {
    opacity: 50% !important;
    background-color: #adadad90 !important;
}

.swiper-pagination-bullet-active {
    opacity: 100% !important;
}


.loader {
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 12px solid #7f4dff;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;

    margin: 300px auto;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}